In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-02-05 19:01:07,-9.8000,-139.0333,78.82,75,7,23.55
1,1,Vaini,TO,2022-02-05 19:03:29,-21.2000,-175.2000,77.16,94,100,8.05
2,2,Ushuaia,AR,2022-02-05 18:58:52,-54.8000,-68.3000,64.06,45,40,14.97
3,3,Rikitea,PF,2022-02-05 19:01:02,-23.1203,-134.9692,78.80,72,100,11.70
4,4,Upernavik,GL,2022-02-05 19:02:18,72.7868,-56.1549,-0.85,98,100,4.74

In [21]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-02-05 19:01:07,-9.8000,-139.0333,78.82,75,7,23.55
1,1,Vaini,TO,2022-02-05 19:03:29,-21.2000,-175.2000,77.16,94,100,8.05
2,2,Ushuaia,AR,2022-02-05 18:58:52,-54.8000,-68.3000,64.06,45,40,14.97
3,3,Rikitea,PF,2022-02-05 19:01:02,-23.1203,-134.9692,78.80,72,100,11.70
4,4,Upernavik,GL,2022-02-05 19:02:18,72.7868,-56.1549,-0.85,98,100,4.74

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [22]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [14]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Atuona,PF,2022-02-05 19:01:07,-9.8000,-139.0333,78.82,75,7,23.55
1,1,Vaini,TO,2022-02-05 19:03:29,-21.2000,-175.2000,77.16,94,100,8.05
3,3,Rikitea,PF,2022-02-05 19:01:02,-23.1203,-134.9692,78.80,72,100,11.70
16,16,Butaritari,KI,2022-02-05 19:00:19,3.0707,172.7902,82.36,70,13,19.37
18,18,Sumbe,AO,2022-02-05 19:03:31,-11.2061,13.8437,76.41,79,72,7.76
19,19,Ranong,TH,2022-02-05 19:03:31,9.9658,98.6348,75.60,89,34,5.44
23,23,La Asuncion,VE,2022-02-05 19:03:32,11.0333,-63.8628,80.73,69,4,13.80
38,38,Lorengau,PG,2022-02-05 19:01:01,-2.0226,147.2712,80.64,77,64,7.56
40,40,Oistins,BB,2022-02-05 19:01:24,13.0667,-59.5333,78.30,69,7,12.41
42,42,Oussouye,SN,2022-02-05 19:04:34,12.4850,-16.5469,79.57,34,5,9.48

In [21]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [22]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0        Atuona      PF     78.82  -9.8000 -139.0333
1         Vaini      TO     77.16 -21.2000 -175.2000
3       Rikitea      PF     78.80 -23.1203 -134.9692
16   Butaritari      KI     82.36   3.0707  172.7902
18        Sumbe      AO     76.41 -11.2061   13.8437
19       Ranong      TH     75.60   9.9658   98.6348
23  La Asuncion      VE     80.73  11.0333  -63.8628
38     Lorengau      PG     80.64  -2.0226  147.2712
40      Oistins      BB     78.30  13.0667  -59.5333
42     Oussouye      SN     79.57  12.4850  -16.5469

In [23]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [25]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head()

          City Country  Max Temp      Lat       Lng           Hotel Name
0       Atuona      PF     78.82  -9.8000 -139.0333          Villa Enata
1        Vaini      TO     77.16 -21.2000 -175.2000  Keleti Beach Resort
3      Rikitea      PF     78.80 -23.1203 -134.9692      People ThankYou
16  Butaritari      KI     82.36   3.0707  172.7902   Isles Sunset Lodge
18       Sumbe      AO     76.41 -11.2061   13.8437     Hotel Ritz Sumbe

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [33]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [34]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))